.cs_about.cs_style_1 {
  .cs_about_section_img {
    img {
    width: 100%;
    min-height: 630px;
    object-fit: cover;
  }
  }
  .cs_about_video_img {
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 25px;
    box-shadow: 0 0 0 20px white;
  }
  .cs_about_right {
    .cs_section_heading.cs_style_1{
      .cs_section_title{
        margin-bottom: 24px;
      }
      p{
        margin-bottom: 56px;
         @media (max-width: 991px) {
          margin-bottom: 24px;
        }
      }
    }
  }
  .cs_about_left_in {
    padding-right: 20px;
    padding-top: 60px;
  }
}
