/*========================================================
  18. Gallery
==========================================================*/

.cs_asia_gallery {
  .container {
    @media (min-width: 1400px) {
      max-width: 1240px;
    }
  }
}

.cs_search_icon_overlay {
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.3s ease;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #1d1d1d -23.78%, rgba(29, 29, 29, 0) 100%);
  opacity: 0;
}

.cs_culture_journey {
  width: min(100%, 1080px);
  height: 537px;

  @media (max-width: 1399px) {
    width: min(100%, 900px);
  }

  @media (max-width: 1399px) {
    width: min(100%, 900px);
  }

  @media (max-width: 1199px) {
    width: min(100%, 760px);
  }

  @media (max-width: 991px) {
    width: min(100%, 560px);
  }
}

.cs_culture_journey_wraper {
  .draggable {
    cursor: default !important;
  }

  >* .cs_left_arrow,
  >* .cs_right_arrow {
    position: absolute;
    top: 50%;
    cursor: pointer;
    z-index: 100;
  }

  .cs_left_arrow {
    left: 0px;
  }

  .cs_right_arrow {
    right: 0px;
  }
}

.cs_culture_journey_location {
  position: absolute;
  left: 24px;
  bottom: 24px;
  display: flex;
  align-items: center;
}

.cs_europe_journey_img {

  img {
    width: 100%;
    height: 100%;
  }

  .cs_search_icon_overlay {
    border-radius: inherit;
  }
}

.cs_video_block_style_1.cs_type_1 {
  a {
    cursor: pointer;
  }
}

.cs_lightbox_item,
.cs_europe_journey_img {
  &:hover {
    .cs_search_icon_overlay {
      opacity: 1;

      .cs_search_icon {
        opacity: 1;
      }
    }
  }
}

.lg-thumb-outer {
  justify-content: center;
}

/*====================================================
 Gallery Page
======================================================*/
.cs_lightgallery_list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(7, auto);
  gap: 40px;

  .cs_search_icon_overlay {
    width: 100%;
    height: 100%;
  }

  .cs_lightbox_item {
    display: block;
    width: 100%;
    height: 100%;
    grid-column: auto / span 3;

    &:nth-child(1) {
      grid-row: auto / span 2;
    }

    &:nth-child(2) {
      grid-column: auto / span 6;
      grid-row: auto / span 3;
    }

    &:nth-child(3) {
      grid-row: auto / span 5;
    }

    &:nth-child(4) {
      grid-row: auto / span 5;
    }

    &:nth-child(5) {
      grid-column: auto / span 2;
      grid-row: auto / span 4;
    }

    &:nth-child(6) {
      grid-column: auto / span 4;
      grid-row: auto / span 4;
    }

    &:nth-child(7) {
      grid-row: auto / span 2;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @media (max-width: 1199px) {
    gap: 24px;
  }

  @media (max-width: 767px) {
    grid-template-rows: repeat(1, minmax(172px, 1fr));

    .cs_lightbox_item {
      grid-column: auto / span 6;
      grid-row: auto !important;

      &:nth-child(1) {
        order: 1;
      }

      &:nth-child(2) {
        grid-column: auto / span 12;
        order: 3;
      }

      &:nth-child(3) {
        order: 2;
      }

      &:nth-child(4) {
        order: 4;
      }

      &:nth-child(5) {
        grid-column: auto / span 5;
        order: 6;
      }

      &:nth-child(6) {
        grid-column: auto / span 7;
        order: 7;
      }

      &:nth-child(7) {
        order: 5;
      }
    }
  }
}

.lg-img-wrap {
  cursor: zoom-out;
}

.lg-thumb-outer {
  display: flex;
  justify-content: center;
}