.cs_hero.cs_style_1 {
  position: relative;
  padding: 150px 0 72px;

  .cs_hero_in {
    position: relative;
    width: 100%;
  }

  .cs_hero_subtitle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 11px 24px;
    background: linear-gradient(94deg,
        rgba(255, 255, 255, 0.4) 33.35%,
        rgba(255, 255, 255, 0.1) 91.75%);
  }

  .cs_hero_title {
    text-align: center;
    margin-bottom: 109px;
  }

  .cs_hero_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    .cs_hero_footer_left {
      max-width: 452px;
    }
  }

  @media (max-width: 1199px) {
    padding: 150px 0 70px;

    .cs_hero_title {
      margin-bottom: 60px;
    }
  }

  @media (max-width: 767px) {
    .cs_hero_title {
      margin-bottom: 30px;
    }

    .cs_hero_footer {
      flex-direction: column;

      .cs_hero_footer_left {
        max-width: 100%;
        text-align: center;
      }
    }
  }
}