/*========================================================
  11. Iconbox
==========================================================*/
.cs_iconbox.cs_style_1 {
  display: flex;
  align-items: flex-start;
  gap: 10px 25px;
  padding: 24px 50px;
  background-color: var(--white);
  border: 1px solid var(--primary);
  margin-left: -1px;
  margin-right: -1px;
  width: 100%;
  border-radius: 25px 25px 0 0;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--primary);
    border-radius: inherit;
    color: rgba(255, 255, 255, 0.75);
    width: 100%;
    height: 0%;
    z-index: 0;
    transition: all 0.4s ease;
  }

  .cs_icon {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    flex: none;
    border: 1px solid var(--primary);
    color: var(--primary);
    z-index: 1;
    transition: all 0.4s ease;

    .fa-rotate-by {
      transform: rotate(-45deg);
    }
  }

  &:not(:last-child) {
    border-bottom: none;
    padding-bottom: 44px;
  }

  &:last-child {
    border-radius: 25px;
  }

  &:not(:first-child) {
    margin-top: -20px;
  }

  .cs_iconbox_title,
  .cs_iconbox_details {
    transition: all 0.4s ease;
  }

  > * {
    position: relative;
    z-index: 1;
  }

  &.active {
    &::before {
      height: 100%;
      z-index: 0;
    }

    .cs_iconbox_title,
    .cs_iconbox_details {
      color: var(--white);
    }

    .cs_icon {
      background-color: rgba(255, 255, 255, 0.25);
      border-color: transparent;
      color: var(--white);
    }
  }

  @media (max-width: 767px) {
    padding: 24px 20px;
  }

  @media (max-width: 450px) {
    flex-direction: column;
  }
}
