/*========================================================
  15. Team
==========================================================*/
.cs_team_style_1 {
  overflow: hidden;

  img {
    width: 100%;
    transition: transform 0.6s ease;
  }

  .cs_social {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    position: absolute;
    color: var(--white);
    width: 100%;
    bottom: 0;
    display: flex;
    padding: 55px 50px;
    z-index: 10;
    justify-content: space-around;
    background: linear-gradient(0deg,
        #1d1d1d -23.78%,
        rgba(29, 29, 29, 0) 100%);
    font-size: 30px;

    a:hover {
      opacity: 0.75;
    }
  }

  &:hover {
    img {
      transform: scale(1.05);
    }

    .cs_social {
      opacity: 1;
      visibility: visible;
    }
  }
}