/*========================================================
  17. Trips Details
==========================================================*/
.cs_includes_excludes_section {
  border-bottom: 1px solid #1414141a;
  border-top: 1px solid #1414141a;
}

.cs_pricing_details {
  display: flex;
  gap: 40px;

  .cs_info_title {
    width: 20%;
  }
}

.cs_banner {
  height: 674px;
  padding: 40px 0;
  display: flex;
  align-items: flex-end;

  @media (max-width: 991px) {
    height: 500px;
  }

  @media (max-width: 767px) {
    height: 400px;
  }

  @media (max-width: 575px) {
    height: 300px;
  }
}

.banner_btn {
  height: 100%;
  display: flex;
  align-items: end;
  padding-bottom: 40px;
}

.cs_package_includes,
.cs_package_excludes {
  li {
    position: relative;
    padding-left: 40px;

    svg {
      position: absolute;
      left: 0;
      top: 1px;
    }
  }
}

.grid_container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 40px;

  .cs_gallery_item {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    grid-column: auto / span 3;
    grid-row: auto / span 4;

    &:nth-child(1) {
      grid-column: auto / span 5;
      grid-row: auto / span 8;
    }

    img {
      width: 100%;
      border-radius: inherit;
    }
  }

  @media (max-width: 991px) {
    gap: 24px;
  }

  @media (max-width: 767px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 24px;

    .cs_gallery_item {
      grid-column: auto / span 1;

      &:nth-child(1) {
        grid-column: auto / span 2;
      }
    }
  }

  @media (max-width: 450px) {
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;

    .cs_gallery_item {
      &:nth-child(1) {
        grid-column: auto / span 1;
      }
    }
  }
}

.cs_location_icon,
.cs_date_icon {
  display: flex;
  align-items: center;
  gap: 12px;
}