/*========================================================
  14. Video Block
==========================================================*/
.cs_video_block_style_1 {
  min-height: 560px;
  padding: 80px 30px;

  &.cs_type_1 {
    min-height: 660px;
  }

  @media (max-width: 991px) {
    min-height: auto;
    padding: 80px 20px;
  }
}

.cs_video_block_style_2 {
  display: block;
  height: 560px;

  .cs_video_title {
    bottom: 0px;
    left: 0;
    padding: 40px;
  }

  .cs_player_btn {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }

  .cs_video_subtitle {
    top: 0px;
    right: 0px;
    padding: 40px;
  }

  @media (max-width: 991px) {
    height: 460px;

    .cs_video_subtitle,
    .cs_video_title {
      padding: 40px 15px;
    }
  }
}

.cs_video_block_style_3 {
  height: 32%;
  width: 75%;
  border-radius: 25px;
}

.cs_player_btn {
  height: 100px;
  width: 100px;
  display: inline-flex;
  position: relative;

  &:before,
  &:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(92deg,
        rgba(255, 255, 255, 0.6) 16.51%,
        rgba(255, 255, 255, 0.2) 94.64%);
    border-radius: 50%;
  }

  &:before {
    z-index: 0;
    animation: pulse-border 1500ms ease-out infinite;
  }

  &:after {
    z-index: 1;
    transition: all 280ms;
  }
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }

  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}