/*--------------------------------------------------------------
>> TABLE OF CONTENTS:
----------------------------------------------------------------
1. Typography
2. Preloader
3. Spacing
4. General
5. Video Modal
6. Header
7. Hero
8. Iconbox
9. Testimonial
10. Posts
11. Portfolio
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1. Typography
----------------------------------------------------------------*/
// Google Fonts

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

body,
html {
  color: var(--secondary);
  font-family: var(--primary-font);
  font-size: 20px;
  line-height: 1.5em;
  font-weight: 400;
  overflow-x: clip;
  background-color: var(--white);
}

html {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  color: var(--primary);
  padding: 0;
  margin: 0 0 20px 0;
  font-weight: 400;
  line-height: 1.2em;
  font-family: var(--primary-font);

  i {
    letter-spacing: 0;
    font-family: var(--secondary-font);
    display: inline-block;
  }
}

h1 {
  font-size: 80px;
  letter-spacing: -1.6px;
}

h2 {
  font-size: 64px;
  letter-spacing: -1.28px;
  line-height: 1.12em;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 16px;
}

p {
  margin-bottom: 15px;
}

ul {
  margin: 0 0 25px 0;
  padding-left: 20px;
  list-style: square outside none;
}

ol {
  padding-left: 20px;
  margin-bottom: 25px;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 15px;
  font-style: italic;
  font-size: 20px;
  line-height: 1.6em;
  margin: 0;
}

// inter-----------------------
address {
  margin: 0 0 15px;
}

img {
  border: 0;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;
}

button {
  color: inherit;
  transition: all 0.3s ease;
  cursor: pointer;
}

table {
  width: 100%;
  margin-bottom: 25px;

  th {
    font-weight: 600;
    color: var(--secondary);
  }

  td,
  th {
    border-top: 1px solid var(--border);
    padding: 11px 10px;
  }
}

dl {
  margin-bottom: 25px;

  dt {
    font-weight: 600;
  }
}

b,
strong {
  font-weight: bold;
}

pre {
  color: var(--secondary);
  border: 1px solid var(--border);
  font-size: 18px;
  padding: 25px;
  border-radius: 5px;
}

kbd {
  font-size: 100%;
  background-color: var(--secondary);
  border-radius: 5px;
}

input,
textarea {
  color: var(--primary);
  transition: all 0.4s ease;
}

label {
  margin-bottom: 8px;
}