/*--------------------------------------------------------------
01. All Color Variable
----------------------------------------------------------------*/
:root {
  --white: #fff;
  --primary: #141414;
  --secondary: rgb(20 20 20 / 75%);
  --gray: #f3f3f3;
  --gray2: rgba(255, 255, 255, 0.75);

  --primary-font: "DM Sans", sans-serif;
  --secondary-font: "Playfair Display", sans-serif;
}
