/*========================================================
  03. General
==========================================================*/

.cs_fs_14 {
  font-size: 14px;
  line-height: 1.5em;
}

.cs_fs_16 {
  font-size: 16px;
  line-height: 1.5em;
}

.cs_fs_20 {
  font-size: 20px;
  line-height: 1.5em;
}

.cs_fs_36 {
  font-size: 36px;
  line-height: 1.11em;
}

.cs_fs_64 {
  font-size: 64px;
  line-height: 1.125em;
  letter-spacing: -1.28px;

  @media (max-width: 1199px) {
    font-size: 50px;
  }

  @media (max-width: 767px) {
    font-size: 40px;
  }
}

.cs_fs_80 {
  font-size: 80px;
  line-height: 1.1em;
  letter-spacing: 1.6px;

  @media (max-width: 1199px) {
    font-size: 70px;
  }

  @media (max-width: 767px) {
    font-size: 55px;
  }

  @media (max-width: 575px) {
    font-size: 42px;
  }
}

.cs_normal {
  font-weight: 400;
}

.cs_medium {
  font-weight: 500;
}

.cs_semibold {
  font-weight: 600;
}

.cs_bold {
  font-weight: 700;
}

.cs_secondary_font {
  font-family: var(--secondary-font);
}

.cs_italic {
  font-style: italic;
}

.cs_radius_10 {
  border-radius: 10px;
}

.cs_radius_25 {
  border-radius: 25px;
}

.cs_radius_50 {
  border-radius: 50px;
}

.cs_gap_y_24 {
  gap: 24px 0;
}

.cs_gap_y_30 {
  gap: 30px 0;
}

.cs_gap_y_40 {
  gap: 40px 0;
}

.cs_gap_y_50 {
  gap: 50px 0;
}

.cs_mp_0 {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cs_bg_filed {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.cs_bg_fixed {
  background-attachment: fixed;
}

.cs_vertical_middle {
  display: flex;
  align-items: center;
  min-height: 100%;
}

.cs_vertical_middle_in {
  flex: none;
  width: 100%;
}

.cs_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cs_heading_bg {
  background-color: rgb(169, 169, 225);
}

.cs_primary_color {
  color: var(--primary);
}

.cs_secondary_color {
  color: var(--secondary);
}

.cs_white_color {
  color: var(--white);
}

.cs_white_bg {
  background-color: var(--white);
}

.cs_primary_bg {
  background-color: var(--primary);
}

.cs_secondary_bg {
  background-color: var(--secondary);
}

.cs_gray_bg {
  background-color: var(--gray);
}

.cs_gray2_bg {
  background-color: var(--gray2);
}

/*====================================================
 Button Component Style
======================================================*/

.cs_btn_style_1 {
  border: 1px solid var(--white);
  border-radius: 50px;
  padding: 8px 32px;
  outline: none;
  color: var(--white);
  font-weight: 700;
  background-color: transparent;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  svg {
    margin-left: 10px;
  }

  @media (max-width: 991px) {
    padding: 12px 20px;
  }

  &:hover {
    color: var(--primary);
    background-color: var(--white);
    border-color: var(--white);
  }

  &.cs_type_1 {
    border: none;
    color: var(--white);
    background-color: var(--primary);
    outline: none;
    transition: all 0.3s ease;
    border: 1px solid transparent;

    &:hover {
      color: var(--primary);
      background-color: transparent;
      border: 1px solid var(--primary);
    }
  }

  &.cs_type_2 {
    background-color: var(--white);
    color: var(--primary);

    &:hover {
      background-color: #ffffffac;
    }
  }

  &.cs_type_3 {
    width: 100%;
    border-radius: 10px;
    padding: 20px 32px;
    background: var(--primary);

    &:hover {
      background-color: var(--white);
      color: var(--primary);
      border: 1px solid var(--primary);
    }
  }
}

.cs_btn_style_2 {
  position: relative;
  font-weight: 700;
  font-family: var(--primary-font);

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: currentColor;
    transition: all 0.6s cubic-bezier(0.7, -0.56, 0.27, 1.6);
  }

  &:hover {
    &::after {
      width: 50%;
    }
  }

  &.cs_white_color {
    &:hover {
      color: var(--white-color);
    }
  }
}
/*==================================================
 Scroll To Button
====================================================*/
.cs_scrollup {
  position: fixed;
  bottom: 30px;
  right: 20px;
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 50%;
  border: 0;
  outline: 0;
  color: #177245;
  background-color: transparent;
  transform: translateY(200px);
  transition: transform 0.3s ease;
  i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &:hover {
    background-color: #50c878;
  }
  &.active {
    transform: translateY(0);
  }
}
@keyframes rotatePlane {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*==================================================
 Section Heading
====================================================*/
.cs_section_heading_style_1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;

  @media (max-width: 1199px) {
    align-items: start;
  }

  .cs_section_heading_right {
    max-width: 450px;

    @media (max-width: 991px) {
      max-width: 100%;
    }
  }

  @media (max-width: 991px) {
    flex-direction: column;
    align-items: start;

    .cs_section_title,
    .cs_section_title {
      br {
        display: none;
      }
    }
  }

  &.cs_type_1 {
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    max-width: 540px;

    @media (max-width: 991px) {
      max-width: 100%;
    }
  }
}

.cs_width_473 {
  max-width: 473px;
}

.cs_page_banner_style_1 {
  padding: 130px 0;
  margin-top: 100px;
}

.cs_pagination_box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 56px;
  transition: all 0.3s ease;

  a {
    color: rgb(20 20 20 / 25%);

    &:hover {
      color: var(--primary);
    }

    &.active {
      color: var(--primary);
    }
  }

  @media (max-width: 575px) {
    gap: 30px;
  }
}

.cs_list.cs_style_1 {
  li {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}

/*======================================================
  Accordian
========================================================*/
.cs_accordian {
  background: var(--gray);
  cursor: pointer;

  .cs_accordian_head {
    display: flex;
    gap: 20px 64px;
    flex-wrap: wrap;
    padding: 24px 40px;

    p {
      color: var(--primary);
    }
  }

  .cs_accordian_body {
    color: var(--primary);
    padding-left: 170px;
    padding-right: 208px;
    padding-bottom: 24px;
    margin-top: -12px;

    ul {
      list-style: disc;
    }
  }

  .cs_arrordian_img {
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%) scale(0);
    transition: transform 0.4s ease;
    transition-delay: 0.2s;
  }

  &:not(:last-child) {
    margin-bottom: 24px;
  }

  &.active {
    .cs_arrordian_img {
      transform: translateY(-50%) scale(1);

      @media (max-width: 1199px) {
        transform: translateY(0) scale(1);
      }
    }
  }

  @media (max-width: 1399px) {
    .cs_accordian_head {
      padding: 24px 15px;
      gap: 20px 35px;
    }

    .cs_accordian_body {
      padding-left: 114px;
      padding-right: 225px;
    }
  }

  @media (max-width: 1199px) {
    .cs_accordian_body {
      padding-right: 40px;
    }

    .cs_arrordian_img {
      position: relative;
      padding-top: 20px;
      right: initial;
      padding-left: 5px;
    }
  }

  @media (max-width: 991px) {
    .cs_accordian_head {
      padding: 24px 40px;
    }

    .cs_accordian_body {
      padding-left: 138px;
    }
  }

  @media (max-width: 453px) {
    .cs_accordian_head {
      padding-left: 20px;
      gap: 15px;
    }

    .cs_accordian_body {
      padding: 0 20px 30px;
    }
  }
}

/*======================================================
  Tabs
========================================================*/
.cs_tab_links {
  gap: 0 40px;

  li {
    color: #14141440;

    &.active {
      color: var(--primary);
      border-bottom: 4px solid var(--primary);
      padding-bottom: 12px;
    }
  }
}

.cs_tab_body {
  margin-top: 40px;
}

.cs_tab {
  display: none;
}

.cs_tab.active {
  display: block;
}

textarea {
  padding: 20px 0;
  margin-bottom: 30px;
}

.cs_quantity_dropdown {
  position: absolute;
  left: 0;
  top: 100%;
  background-color: var(--white);
  width: 100%;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid var(--gray);
  display: none;
}

.cs_quantity_dropdown_item {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}

.cs_quantity_up,
.cs_quantity_down {
  font-size: 14px;
  color: var(--primary);
  line-height: 1em;
  cursor: pointer;
}

.cs_quantity_button {
  height: 24px;
  width: 24px;
  padding: 3px;
  border: 1px solid var(--primary);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cs_quantity_dropdown.active {
  display: flex;
  flex-direction: column;
}

.cs_quantity {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;

  input {
    text-align: center;
    color: var(--primary);
  }
}

.cs_calculate_area {
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: wrap;
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

/*===================================================
  Tom Select
=====================================================*/
.full .ts-control {
  background-color: transparent;
}

.ts-control,
.ts-wrapper.single.input-active .ts-control {
  background-color: transparent;
  cursor: text;
}

.has-items .ts-control > input {
  margin: 0 !important;
}

.ts-control {
  font-size: 20px;
  color: var(--border);
  font-weight: 400;
  font-family: var(--primary-font);
  border: 0;
  padding: 0 15px;
  display: flex;
  position: relative;

  .item {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.25em !important;
  }

  input {
    font-size: inherit;
    font-weight: 400;
    line-height: 1em !important;
    width: 0;
  }

  ::after {
    content: "\f078";
    font-family: "Font Awesome 6 Free";
    font-size: 16px;
    font-weight: 900;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: var(--secondary);
  }
}

.ts-dropdown {
  background-color: var(--white);
  padding: 10px 0;

  .option {
    font-size: 20px;
    font-weight: 400;
    font-family: var(--primary-font);
    color: rgba(20, 20, 20, 0.5);
    padding: 10px 15px;

    &:hover,
    &.active {
      color: var(--primary);
      background-color: transparent;
    }
  }
}

/*===================================================
  Contact Map
=====================================================*/

.cs_map {
  height: 470px;
}

.cs_map {
  iframe {
    height: 100%;
    width: 100%;
    filter: brightness(100%) grayscale(0.85);
  }
}

/*=======================================================
  Preloader
 =========================================================*/
.cs_preloader {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999999;
  background-color: var(--white);
  .cs_wave_loader {
    animation: fadeIn 1s ease;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
