/*--------------------------------------------------------------
  4. General
----------------------------------------------------------------*/
// google fonts
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

// @for $i from 0 through 21 {
//   .cs_mb_#{$i} {
//     margin-bottom: $i + px;
//   }
// }

// .cs_mb_24 {
//   margin-bottom: 24px;
// }

// .cs_mb_28 {
//   margin-bottom: 28px;
// }

// .cs_mb_40 {
//   margin-bottom: 40px;
// }

// .cs_mb_48 {
//   margin-bottom: 48px;
// }

// .cs_mb_64 {
//   margin-bottom: 64px;
// }

// .cs_mb_80 {
//   margin-bottom: 80px;
// }

// .cs_mt_7 {
//   margin-top: 7px;
// }

// .cs_mt_18 {
//   margin-top: 18px;
// }

// .cs_mt_25 {
//   margin-top: 25px;
// }

// .cs_mb_32 {
//   margin-bottom: 32px;
// }

// .cs_mt_28 {
//   margin-top: 28px;
// }

// .cs_mt_56 {
//   margin-top: 56px;
// }

// .cs_mt_68 {
//   margin-top: 68px;
// }
// .cs_pr_90 {
//   padding-right: 90px;
// }

// .cs_pr_16 {
//   padding-right: 16px;
// }

// .cs_pb_50 {
//   padding-bottom: 50px;
// }



// @for $i from 1 through 160 {
//   .cs_pb_#{$i} {
//     padding-bottom: $i + px;
//   }
// }

// @media screen and (max-width: 991px) {
//   @for $i from 1 through 70 {
//     .cs_pb_lg_#{$i} {
//       padding-bottom: $i + px;
//     }
//   }
// }


// @for $i from 1 through 105 {
//   .cs_pr_#{$i} {
//     padding-right: $i + px;
//   }
// }

// @for $i from 1 through 150 {
//   .cs_pl_#{$i} {
//     padding-left: $i + px;
//   }
// }

// .cs_ml_24 {
//   margin-left: 24px;
// }

.cs_fs_16 {
  font-size: 16px;
  line-height: 1.5em;
}

.cs_fs_20 {
  font-size: 20px;
  line-height: 1.5em;
}

.cs_fs_36 {
  font-size: 36px;
  line-height: 1.11em;
}

.cs_fs_64 {
  font-size: 64px;
  line-height: 1.125em;
  letter-spacing: -1.28px;

  @media (max-width: 1199px) {
    font-size: 50px;
  }

  @media (max-width: 767px) {
    font-size: 40px;
  }
}

.cs_fs_80 {
  font-size: 80px;
  line-height: 1.1em;
  letter-spacing: 1.6px;

  @media (max-width: 1199px) {
    font-size: 70px;
  }

  @media (max-width: 767px) {
    font-size: 55px;
  }

  @media (max-width: 575px) {
    font-size: 42px;
  }
}

.cs_normal {
  font-weight: 400;
}

.cs_medium {
  font-weight: 500;
}

.cs_semibold {
  font-weight: 600;
}

.cs_bold {
  font-weight: 700;
}

.cs_secondary_font {
  font-family: var(--secondary-font);
}

.cs_italic {
  font-style: italic;
}

.cs_radius_10 {
  border-radius: 10px;
}

.cs_radius_25 {
  border-radius: 25px;
}

.cs_radius_50 {
  border-radius: 50px;
}

.cs_gap_y_30 {
  gap: 30px 0;
}

.cs_gap_y_40 {
  gap: 40px 0;
}

.cs_gap_y_50 {
  gap: 50px 0;
}

.cs_mp_0 {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cs_bg_filed {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.cs_bg_fixed {
  background-attachment: fixed;
}

.cs_vertical_middle {
  display: flex;
  align-items: center;
  min-height: 100%;
}

.cs_vertical_middle_in {
  flex: none;
  width: 100%;
}

.cs_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cs_heading_bg {
  background-color: rgb(169, 169, 225);
}

.cs_primary_color {
  color: var(--primary);
}

.cs_secondary_color {
  color: var(--secondary);
}

.cs_white_color {
  color: var(--white);
}

.cs_white_bg {
  background-color: var(--white);
}

.cs_primary_bg {
  background-color: var(--primary);
}

.cs_secondary_bg {
  background-color: var(--secondary);
}

.cs_gray_bg {
  background-color: var(--gray);
}

.cs_gray2_bg {
  background-color: var(--gray2);
}

/*====================================================
 Button Component Style
======================================================*/

.cs_btn.cs_style_1 {
  border: 1px solid var(--white);
  border-radius: 50px;
  padding: 8px 32px;
  outline: none;
  color: var(--white);
  font-weight: 700;
  background-color: transparent;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  svg {
    margin-left: 10px;
  }

  @media (max-width: 991px) {
    padding: 12px 20px;
  }

  &:hover {
    color: var(--primary);
    background-color: var(--white);
    border-color: var(--white);
  }

  &.cs_type_1 {
    border: none;
    color: var(--white);
    background-color: var(--primary);
    outline: none;
    transition: all 0.3s ease;
    border: 1px solid transparent;

    &:hover {
      color: var(--primary);
      background-color: transparent;
      border: 1px solid var(--primary);
    }
  }

  &.cs_type_2 {
    background-color: var(--white);
    color: var(--primary);

    &:hover {
      background-color: #ffffffac;
    }
  }

  &.cs_type_3 {
    width: 100%;
    border-radius: 10px;
    padding: 20px 32px;
    background: var(--primary);

    &:hover {
      background-color: var(--white);
      color: var(--primary);
      border: 1px solid var(--primary);
    }
  }
}

.cs_btn.cs_style_2 {
  position: relative;
  font-weight: 700;
  font-family: var(--primary-font);

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: currentColor;
    transition: all 0.6s cubic-bezier(0.7, -0.56, 0.27, 1.6);
  }

  &:hover {
    &::after {
      width: 50%;
    }
  }

  &.cs_white_color {
    &:hover {
      color: var(--white-color);
    }
  }
}

.cs_section_heading.cs_style_1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;

  @media (max-width: 1199px) {
    align-items: start;
  }

  .cs_section_heading_right {
    max-width: 450px;

    @media (max-width: 991px) {
      max-width: 100%;
    }
  }

  @media (max-width: 991px) {
    flex-direction: column;
    align-items: start;

    .cs_section_title,
    .cs_section_title {
      br {
        display: none;
      }
    }
  }

  &.cs_type_1 {
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    max-width: 540px;

    @media (max-width: 991px) {
      max-width: 100%;
    }
  }
}

.cs_width_473 {
  max-width: 473px;
}

.cs_page_banner.cs_style_1 {
  padding: 80px 0;
  min-height: 355px;
  margin-top: 90px;
}

.cs_pagination_box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 56px;
  transition: all 0.3s ease;

  a {
    color: rgb(20 20 20 / 25%);

    &:hover {
      color: var(--primary);
    }

    &.active {
      color: var(--primary);
    }
  }
}


.cs_list.cs_style_1 {
  li {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}

// .cs_icon.cs_style_1 {
//   display: flex;
//   align-items: center;
//   gap: 12px;

//   i {
//     display: flex;
//   }
// }

// accordian
.cs_accordian {
  background: var(--gray);
  cursor: pointer;

  .cs_accordian_head {
    display: flex;
    gap: 20px 64px;
    flex-wrap: wrap;
    padding: 24px 40px;

    @media(max-width:1399px) {
      padding: 24px 15px;
      gap: 20px 35px;
    }

    @media (max-width: 991px) {
      padding: 24px 40px;
    }

    @media (max-width: 453px) {
      padding-left: 40px;
    }

    p {
      color: var(--primary);
    }
  }

  .cs_accordian_body {
    color: var(--primary);
    padding-left: 170px;
    padding-right: 208px;
    padding-bottom: 24px;
    margin-top: -12px;

    @media (max-width:1399px) {
      padding-left: 114px;
      padding-right: 225px;
    }

    @media (max-width:1199px) {
      padding-right: 40px;
    }

    @media (max-width: 991px) {
      padding-left: 138px;
    }

    @media (max-width: 453px) {
      padding-left: 40px;
    }

    ul {
      list-style: disc;
      transition: all 03s ease;
    }
  }

  .cs_arrordian_img {
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%) scale(0);
    transition: 0.4s ease;
    transition-delay: .3s;

  }

  &:not(:last-child) {
    margin-bottom: 24px;
  }

  &.active {
    .cs_arrordian_img {
      transform: translateY(-50%) scale(1);

      @media (max-width:1199px) {
        position: relative;
        transform: translateY(0%) scale(1);
        padding-left: 50px;
        padding-top: 20px;
      }
    }
  }
}

.cs_tab_links {
  gap: 0 40px;

  li {
    color: #14141440;

    &.active {
      color: var(--primary);
      border-bottom: 4px solid var(--primary);
      padding-bottom: 12px;
    }
  }
}

.cs_tab_body {
  margin-top: 40px;
}

.cs_tab {
  display: none;
}

.cs_tab.active {
  display: block;
}

textarea {
  padding: 20px 0;
  margin-bottom: 30px;
}

.cs_quantity_dropdown {
  position: absolute;
  background-color: white;
  width: 100%;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid var(--gray);
  display: none;
}

.cs_quantity_dropdown_item {
  display: flex;
  justify-content: space-between;
}

.cs_quantity_up {
  position: absolute;
  left: -25px;
  font-size: 20px;
}

.cs_quantity_down {
  font-size: 20px;
}

.cs_quantity_button {
  height: 20px;
  width: 20px;
  border: 1px solid var(--primary);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cs_quantity_dropdown.active {
  display: flex;
  flex-direction: column;
}

.cs_quantity {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cs_map {
  height: 470px;
}

.cs_map {
  iframe {
    height: 100%;
    width: 100%;
  }
}

/*=======================================================
 GSAP Smooth Scroll CSS Style
=========================================================*/
#smooth-wrapper {
  height: 100%;
  overflow: hidden;
}

#smooth-content {
  .cs_slider_container {
    transform: none !important;
  }
}