/*--------------------------------------------------------------
7. Header
----------------------------------------------------------------*/
.cs_site_header.cs_style_1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  transition: all 0.4s ease;

  .cs_main_header_in {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
  }

  .cs_main_header_in {
    height: 100px;
    transition: all 0.4s ease;
  }

  &.cs_sticky_active {
    background-color: var(--white);
    color: var(--primary);
    box-shadow: 0 10px 10px -10px rgba(255, 255, 255, 0.06);

    .cs_main_header_in {
      height: 80px;
    }
  }

  .cs_site_branding {
    display: inline-flex;
  }

  .cs_main_header {
    position: relative;
  }
}

.cs_sticky_header {
  position: fixed !important;
  width: 100%;
  z-index: 999;
}

@media screen and (max-width: 1199px) {
  .cs_main_header .container {
    max-width: 100%;
  }
}

@media screen and (min-width: 1200px) {

  .cs_main_header_right,
  .cs_nav_list_wrap {
    height: inherit;
  }

  .cs_nav {
    height: 100%;

    .cs_nav_list {
      display: flex !important;
      align-items: center;
      height: inherit;

      >li {
        margin-right: 72px;
        height: inherit;
        position: relative;

        >ul {
          position: absolute;
          list-style: none;
          background: var(--white);
          color: var(--secondary);
          width: 150px;
          padding: 10px 0;
          opacity: 0;
          visibility: hidden;
          left: 0;
          top: calc(100% + 20px);
          border-top: 2px solid var(--secondary);
          box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
          border-radius: 0 0 5px 5px;
          transition: all 0.5s ease;

          a {
            display: inline-flex;
            padding: 6px 20px;

            &:hover {
              opacity: 0.65;
            }
          }
        }

        &:last-child {
          margin-right: 0;
        }

        &:hover {
          >ul {
            opacity: 1;
            visibility: visible;
            top: 100%;
            pointer-events: all;
          }
        }

        >a {
          padding: 10px 0;
          display: inline-flex;
          position: relative;
          height: inherit;
          align-items: center;

          &:hover {
            opacity: 0.75;
          }
        }

        &.menu-item-has-children {
          >a {
            position: relative;
            padding-right: 16px;
          }

          &::before {
            content: "\f078";
            font-family: "Font Awesome 6 Free";
            font-weight: 900;
            font-size: 10px;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }
  }

}

@media screen and (max-width: 1199px) {
  .cs_site_branding {
    position: relative;
    z-index: 101;
  }

  .cs_nav {
    .cs_nav_list_wrap {
      position: fixed;
      width: 100vw;
      height: 100vh;
      background-color: var(--white);
      color: var(--primary);
      top: 0;
      left: -100vw;
      line-height: 1.6em;
      padding-top: 80px;
      transition: all 0.4s ease;

      .cs_site_branding {
        color: var(--primary);
      }

      &.cs_active {
        left: 0vw;
      }
    }

    .cs_nav_list {
      height: 100%;
      line-height: 1.6em;
      overflow: auto;

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }

      >li {
        >a {
          display: block;
          padding: 10px 15px;
          line-height: 24px;
        }
      }

      .menu-item-has-children {
        position: relative;

        ul {
          display: none;
          padding-left: 15px;

          a {
            padding: 10px 15px;
            display: block;
          }
        }
      }
    }
  }

  /*Mobile Menu Button*/
  .cs_menu_toggle {
    display: inline-block;
    width: 30px;
    height: 27px;
    cursor: pointer;
    position: absolute;
    top: 27px;
    right: 30px;
    color: currentColor;

    span,
    span:before,
    span:after {
      width: 100%;
      height: 2px;
      background-color: currentColor;
      display: block;
    }

    span {
      margin: 0 auto;
      position: relative;
      top: 12px;
      transition-duration: 0s;
      transition-delay: 0.2s;

      &:before {
        content: '';
        position: absolute;
        margin-top: -9px;
        transition-property: margin, transform;
        transition-duration: 0.2s;
        transition-delay: 0.2s, 0s;
      }

      &:after {
        content: '';
        position: absolute;
        margin-top: 9px;
        transition-property: margin, transform;
        transition-duration: 0.2s;
        transition-delay: 0.2s, 0s;
      }
    }
  }

  .cs_menu_dropdown_toggle {
    position: absolute;
    height: 40px;
    width: 100%;
    top: 0;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 23px 18px;
    cursor: pointer;
    z-index: 3;

    span {
      display: block;
      position: relative;
      height: 10px;
      width: 10px;

      &:before,
      &:after {
        content: "";
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 2px;
        width: 10px;
        background-color: var(--secondary);
        transition: all 0.3s ease;
      }

      &:before {
        transform: translate(-50%, -50%) rotate(90deg);
      }
    }

    &.active {
      span {
        &:before {
          transform: translate(-50%, -50%) rotate(0deg);
        }
      }
    }

  }

  .cs_site_header.cs_style_1 {
    .cs_menu_toggle {
      top: 50%;
      right: 0px;
      margin-top: -13px;
    }
  }

  .cs_toggle_active {
    span {
      background-color: var(--white);
      transition-delay: 0.2s;

      &:before {
        margin-top: 0;
        transform: rotate(45deg);
        transition-delay: 0s, 0.2s;
      }

      &:after {
        margin-top: 0;
        transform: rotate(-45deg);
        transition-delay: 0s, 0.2s;
      }
    }
  }

  .cs_site_header.cs_style_1 {
    .cs_main_header_in {
      height: 80px;
    }
  }

  .cs_site_header.cs_style_1 {
    top: 0;
  }
}

@media screen and (max-width: 991px) {
  .cs_site_header .container {
    max-width: 100%;
  }
}