/*--------------------------------------------------------------
  5. Slider
----------------------------------------------------------------*/
.cs_slider {
  position: relative;
}

.slick-arrow {
  cursor: pointer;
}

.draggable {
  cursor: url(../img/drag.png) 16 9, ew-resize !important;
}

.slick-slide>div {
  display: flex;
  flex-direction: column;
}

.cs_remove_overflow {
  .slick-list {
    overflow: visible;
  }

  .slick-slide {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s linear;

    &.slick-active {
      opacity: 1;
      visibility: visible;
    }
  }
}

.cs_slider_gap_32 {
  .slick-slide {
    padding-left: 16px;
    padding-right: 16px;
  }

  .slick-list {
    margin-left: -16px;
    margin-right: -16px;
  }
}

.cs_slider_gap_20 {
  .slick-slide {
    padding-left: 20px;
    padding-right: 20px;
  }

  .slick-list {
    margin-left: -20px;
    margin-right: -20px;
  }
}

.cs_slider_gap_24 {
  .slick-slide {
    padding-left: 12px;
    padding-right: 12px;
  }

  .slick-list {
    margin-left: -12px;
    margin-right: -12px;
  }
}

.cs_slider_gap_66 {
  .slick-slide {
    padding-left: 33px;
    padding-right: 33px;
  }

  .slick-list {
    margin-left: -33px;
    margin-right: -33px;
  }
}

.cs_slider_arrows.cs_style_1 {
  display: flex;
  align-items: center;
  gap: 16px;

  .cs_left_arrow,
  .cs_right_arrow {
    width: 48px;
    height: 48px;
    border: 1px solid var(--primary);
    border-radius: 50%;
    color: var(--primary);
    transition: all 0.3s ease;

    &:hover {
      background-color: var(--primary);
      color: var(--white);
    }
  }
}

.cs_pagination.cs_style_1 {
  display: flex;
  justify-content: center;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex !important;
    width: 100%;
  }

  li {
    display: flex;
    flex: 1;
    height: 4px;

    button {
      height: 100%;
      width: 100%;
      font-size: 0;
      color: transparent;
      padding: 0;
      background-color: rgb(249 251 243 / 50%);
      border: none;
      outline: none;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background-color: rgb(249 251 243 / 75%);
      }
    }

    &.slick-active {
      button {
        background-color: var(--white-color);
      }
    }
  }
}

@media (max-width: 991px) {
  .cs_hide_lg {
    display: none;
  }
}

.cs_show_lg {
  display: none !important;
}

@media (max-width: 991px) {
  .cs_hide_lg {
    display: none !important;
  }
}

@media (max-width: 991px) {
  .cs_show_lg {
    display: flex !important;
  }
}

.slick-track {
  display: flex;
  align-items: center;
  justify-content: center;
}