/*--------------------------------------------------------------
  3. Spacing
----------------------------------------------------------------*/
@media screen and (min-width: 992px) {
  @for $i from 1 through 180 {
    .cs_height_#{$i} {
      height: $i + px;
    }
  }
}

@media screen and (max-width: 991px) {
  @for $i from 1 through 180 {
    .cs_height_lg_#{$i} {
      height: $i + px;
    }
  }
}

/*========================================================
 Spacing For Margin Bottom
==========================================================*/
@for $i from 1 through 60 {
  .cs_mb_#{$i} {
    margin-bottom: $i + px;
  }
}

@media screen and (max-width: 991px) {
  @for $i from 1 through 30 {
    .cs_mb_lg_#{$i} {
      margin-bottom: $i + px;
    }
  }
}